@import "../../../styles/Colors";
@import "../../../styles/functions";

.gameDisplay {
  @include flexCenter(column, center);
  max-width: 100vw;
  max-height: 100vh;
  .game-stats {
    width: 90vw;
    @include flexCenter(row, space-around);
    .hub {
      width: 15vw;
      font-size: x-large;
      text-align: center;
    }
  }
  .centerGame {
    text-align: center;

    .game-container {
      width: 65vw;
      height: 80vh;
      .startNewGame {
        @include flexCenter(column, space-around);
        background-color: $primaryContainerBackground;
        height: 70%;
        width: 100%;
        text-align: center;
        .gameInstructions {
          width: 63%;
        }
        .playBtn {
          @include primaryBtn;
        }
      }
    }
  }
  .final-score {
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    button {
      @include primaryBtn;
      margin: 10%;
    }
  }
  .mathdropGame {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: $primaryContainerBackground;
    height: 75vh;
    width: 70vw;
    border-bottom: 5px solid $accentColorOne;
    .user-answer {
      width: 65px;
      height: 50px;
      border-radius: 5%;
      font-size: xx-large;
    }
    .equation {
      list-style: none;
      position: absolute;
      top: 18vh;
      left: 50%;
      animation-timing-function: linear;
      background-image: linear-gradient(
        to bottom right,
        $accentColorOne,
        $accentColorTwo
      );
      height: 60px;
      width: 60px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      border: 1px solid white;
      border-radius: 50%;
    }
  }
}

@keyframes drop {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 65vh);
  }
}

@media screen and (max-width: 700px) {
  .gameDisplay {
    .centerGame {
      .game-container {
        width: 100vw;
        .startNewGame {
          @include flexCenter(column, center);
          .gameInstructions {
            font-size: xx-large;
            padding: 5%;
          }
        }
        .mathdropGame {
          width: 100%;
          height: 69vh;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .gameDisplay {
    .centerGame {
      .game-container {
        width: 100vw;
        .startNewGame {
          @include flexCenter(column, center);
          .gameInstructions {
            font-size: x-large;
            padding: 5%;
          }
        }
        .mathdropGame {
          width: 100%;
          height: 69vh;
        }
      }
    }
  }
}
