@import "./Colors";
@import "./functions";

*{
  margin: 0;
  padding: 0;
}

.aboutUs {
  @include flexCenter(column, center);
  text-align: center;
  background-color: $primaryContainerBackground;
  justify-self: flex-end;
  
  width: 50vw;
  height: 70vh;

  .aboutParagraph {
    
  }
  button {
    @include primaryBtn;
  }
}
