@import "./Colors";
@import "./functions";

* {
  margin: 0;
  padding: 0;
}

.about {
  @include flexCenter(column, center);
  .aboutUs {
    @include flexCenter(column, center);
    text-align: center;
    background-color: $primaryContainerBackground;
    width: 50vw;
    height: 70vh;

    .aboutParagraph { 
      padding: 5% 10%;
    }
    button {
      @include primaryBtn;
    }
  }
}

@media screen and (max-width: 760px) {
  .about {
    .aboutUs {
      width: 90vw;
    }
  }
}
