
.login {
    margin-top: 100px;
    background: #0000ff;
    height: 60vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .auth {
        display: grid;
        background: green;
        max-width: 671px;
        max-height: 434px;
        height: 100%;
        width: 100%;
        align-content: center;
        justify-items: center;
        grid-template-columns: auto;
        grid-template-rows: 13% 13% 13% 13% 13% 13% 13% 5%;
        label {
            display: grid;
            width: 70%;
            grid-template-columns: 30% 60%;
            span {
                height: 50%;
                width: 100%;
            }

            input {
                height: 40%;
                width: 70%;
                align-self: start;
            }
        }
        button {
            width: 20%;
        }

        .switch {
            width: 100%;
            text-align: center;
        }
    }
}

// @import './functions';


// .header{
//     height: 100px;
//     width: 100vw;
//     position: absolute;
//     top: 0;
//     background-color: aqua;

//     .mainBar {
//         background-color: aqua;
//         @include flexCenter(row, space-between);

//         h1{
//             position: absolute;
//             left: 30px;
//         }

//         .headerOptions{
//             @include flexCenter(row, space-between);
//             position: relative;
//             width: 70vw;
//             margin-left: 200px;
            

//             ul {
//                 @include flexCenter(row, space-between);
//                 li {
//                     list-style-type: none;
//                     margin-left: 50px;
//                 }
//             }
                
//         }
//     }