$primaryBackground: #24213b;
$primaryContainerBackground: #292945;
$primaryTextColor: #fff;
$primaryBtnColor: #45376c;
$brightBlue: #283382;
$transparentBackground: rgba(36, 33, 59, 0.9);
$accentColorOne: #754d80;
$accentColorTwo: #2c3970;
$accentColorThree: #69dee6;
$headerPrimaryColor: #948992;
