@import "./Colors";

.edit-user {
  background: $primaryContainerBackground;
  display: grid;
  grid-template-columns: auto;
  width: 100%;
  height: 100%;
  max-width: 671px;
  max-height: 434px;
  align-content: center;
  justify-items: center;
  grid-template-rows: 10% 10% 10% 10% 10%;
  grid-row-gap: 2%;

  input {
    width: 30%;
    height: 50%;
    border-radius: 0;
  }

  button {
    @include primaryBtn;
  }
}

input {
  border-radius: 20%;
}

button {
  border-radius: 20%;
}
