@import "./functions";
@import "./Colors";

.header {
  display: flex;
  width: 100vw;
  height: 10vh;
  background: $primaryBackground;

  .brainifyLogo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 30%);
  }

  .nav{
    color: $primaryTextColor;
    display: flex;
    background-color: $transparentBackground;
    justify-content: space-between;
    width: 100vw;
    font-size: 1.7rem;
    // flex-flow: row-reverse;

    .left {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 40vw;
    }

    .right {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 10vw;

      .acctMenu {
        height: 5vh;
        transform: scale(1.5);
      }
    }

    .altLinks {
      color: $primaryTextColor;
      text-decoration: none;
    }

    .dropdown {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      position: absolute;
      height: 12vh;
      top: 10vh;
      right: 2vw;
      
      .navBtn {
        font-size: 1.5rem;
      }
    }

    .navBtn {
      color: $primaryTextColor;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    .nav {

      .left {
        font-size: 1.5rem;
      }

      .right {
        width: 20vw;
      }
    }
  }
}

@media screen and (max-width: 760px){
  .header {
    height: 10vh;
    .nav {
      position: absolute;
      top: 5.4vh;
      right: 0;
      height: 30vh;
      width: 20vw;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1rem;

      .left {
        flex-direction: column;
        justify-content: space-around;
        height: 12vh;
        font-size: 1rem;;
      } 

      .right {
        flex-direction: column;
        width: 100%;
        height: 3vh;
        justify-content: center;
      }

      .altLinks {
        height: 5vh;
        font-size: 1rem;
      }

      .dropdown {
        position: relative;
        height: 8vh;
        top: 0;
        right: 0;
        

        .navBtn {
          font-size: 1rem;
        }

        button {
          display: inline-block;
          max-width: 100px;
          // width: 100%;
          // height: 50%;
        }
      }
    }

    .menu {
      position: absolute;
      top: 1vh;
      right: 1vw;
    }
  }
}

@media screen and (max-width: 430px){
  .header {
    .nav {
      width: 30vw;
    }
  }
}
