@import "./Colors";
@import "./functions";

.home {
  background-color: $headerPrimaryColor;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  h2 {
    font-size: 1.3rem;
    text-align: center;
  }

  .home-content {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .recommended {
    background-color: $primaryBackground;
    width: 70vw;
    height: 100%;
    display: flex;
    grid-template-columns: 30% 30% 30%;
    text-align: center;
    justify-content: space-around;
    align-items: center;

    .game-icon {
      background-color: $transparentBackground;
      color: $primaryTextColor;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20vw;
      height: 50%;
      max-height: 350px;
      max-width: 300px;
      min-width: 150px;
      box-shadow: inset 0 0 5px 5px black;

      &:hover {
        background: $primaryContainerBackground;
      }

      .gameIconName {
        font-size: xx-large;
        align-content: center;
        height: 20%;
        display: flex;
        align-items: center;
        font-size: x-large;
      }
      .gameIconImage {
        height: 70%;
        width: 60%;
        border-radius: 5%;
      }
    }
  }

  .stats {
    @include flexCenter(column, center);
    background: $primaryContainerBackground;
    width: 30vw;
    color: $primaryTextColor;
    display: flex;
    flex-direction: column;

    .stat {
      height: 50%;
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .chartjs-render-monitor {
        color: $primaryTextColor;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .home {
    .recommended {
      .game-icon {
        .gameIconName {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .home {
    .home-content {
      flex-direction: column;
      .recommended {
        width: 100vw;
        height: 40vh;
        justify-content: space-around;
        align-items: center;

        .game-icon {
          width: 75vw;
          height: 40vh;
          max-width: 261px;
          max-height: 240px;
        }

        .left {
          transform: rotate(180deg) scale(2);
        }

        .right {
          transform: scale(2);
        }
      }

      .stats {
        height: 40vh;
        width: 100vw;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .home {
    .home-content {
      .stats {
        height: 50vh;
      }
    }
  }
}
