@import "./Colors";
@import "./functions";

.home {
  background-color: tan;
  width: 100%;
  height: 90%;
  display: flex;

  .recommended {
    background-color: $accentColorOne;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    section {
      height: 90%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      background: $primaryBackground;
      .game-icon {
        background: $primaryContainerBackground;
        color: $primaryTextColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        height: 65%;
        margin: 15px;
        margin-bottom: 0;
        .gameIconName {
          font-size: xx-large;
          margin: 0;
          &:hover {
            color: $accentColorThree;
          }
        }
        .gameIconImage {
          height: 60%;
          width: 70%;
          border-radius: 5%;
        }
      }
    }
  }

  .stats {
    @include flexCenter(column, center);
    background: $primaryContainerBackground;
    width: 30%;
    color: $primaryTextColor;

    .stat {
      height: 25%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .chartjs-render-monitor {
        color: $primaryTextColor;
      }
    }
  }
}

@media screen and (max-width: 760px){
  
}

@media screen and (max-width: 430px){
  
}
