@import "./functions";

.speedmatch {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .play {
    @include primaryBtn;
  }

  .gameInfo {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    justify-self: flex-start;
    width: 100vw;
    height: 10vh;

    .score {
      width: 10%;
      text-align: center;
    }

    .timer {
      text-align: center;
      width: 10%;
    }
  }

  .correct {
    color: green;
    transform: scale(1.5);
    animation: answer 0.5s 1;
  }

  .wrong {
    color: red;
    transform: scale(1.5);
    animation: answer 0.5s 1;
  }

  .about-game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 22%;
    align-items: center;
    height: 50%;
    text-align: center;

    .how-to-play {

    }
  }

  .square {
    width: 50%;
    height: 37.5%;
    max-width: 250px;
    max-height: 250px;
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 6vw solid transparent;
    border-right: 6vw solid transparent;
    border-bottom: 6vw solid black;
    background-color: transparent;
  }

  .triangle.green {
    border-bottom-color: green; 
  }

  .triangle.red {
    border-bottom-color: red;
  }

  .triangle.yellow {
    border-bottom-color: yellow;
  }

  .triangle.purple {
    border-bottom-color: purple;
  }

  .circle {
    width: 50%;
    height: 37.5%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
  }

  .circle.green,
  .square.green {
    background: green;
    background-color: green;
  }

  .circle.yellow,
  .square.yellow {
    background: yellow;
    background-color: yellow;
  }

  .circle.red,
  .square.red {
    background: red;
    background-color: red;
  }

  .circle.purple,
  .square.purple {
    background: purple;
    background-color: purple;
  }

  .star {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: transparent;
    // margin-top: 100px;
    // margin-left: 100px;
    transform: translate(-65%, -50%);
  }

  .star:before,
  .star:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 141.4213%; /* 100% * √2 */
    top: 0;
    bottom: 0;
    border-radius: 5%;
    transform: rotate(66.66deg) skewX(45deg);
  }

  /* the same but +90deg to rotate */
  .star:after {
    transform: rotate(156.66deg) skew(45deg);
  }

  .star.green:after,
  .star.green:before {
    background-color: green;
  }
  .star.red:after,
  .star.red:before {
    background-color: red;
  }
  .star.purple:after,
  .star.purple:before {
    background-color: purple;
  }
  .star.yellow:after,
  .star.yellow:before {
    background-color: yellow;
  }

  .shapes {
    height: 50%;
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .discard-pile {
      width: 298px;
      height: 400px;
      background-image: url(https://images.cdn2.stockunlimited.net/preview1300/playing-cards-background_1608080.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      
      z-index: 5;
      box-shadow: inset 0 0 0.2em 0.3em black;
    }

    .cardd {
      width: 298px;
      height: 400px;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: inset 0 0 0.2em 0.3em black;
    }
  }

  .final-score {
    height: 90%;
    display: flex;
    align-items: center;
  }

  .animate-card {
    animation: turncard 0.1s 1;
  }

  .arrows {
    display: flex;
    width: 15%;
    height: 10%;
    justify-content: space-around;
    label {
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  }

  .left-arrow {
    transform: rotate(180deg) scale(3);
  }

  .right-arrow {
    transform: scale(3);
  }

  .left-arrow.click {
    animation: clickLeft 0.1s 1;
  }

  .right-arrow.click {
    animation: click 0.1s 1;
  }
}

@media screen and (max-width: 1200px) {
  .speedmatch {

    .gameInfo {
      align-items: center;
      height: 3vh;
      .score {
        width: 23%;
      }

      h1{
        font-size: 1.5rem;
      }
      .timer {
        width: 23%;
      }
    }

    .shapes {
      width: 80%;
      .discard-pile {
        width: 40%;
        max-height: 300px;
      }

      .cardd {
        width: 40%;
        max-height: 300px;
      }

      .square {
        width: 130px;
        height: 130px;
      }

      .circle {
        height: 130px;
        width: 130px;
      }

      .triangle {
        border-left: 13vw solid transparent;
        border-right: 13vw solid transparent;
        border-bottom: 13vw solid black;
      }

      .triangle.green {
        border-bottom-color: green; 
      }
    
      .triangle.red {
        border-bottom-color: red;
      }
    
      .triangle.yellow {
        border-bottom-color: yellow;
      }
    
      .triangle.purple {
        border-bottom-color: purple;
      }

      .star {
        width: 45px;
        height: 45px;
        min-width: 50px;
        min-height: 50px;
        position: relative;
        background-color: transparent;
        // margin-top: 100px;
        // margin-left: 100px;
        transform: translate(-20%, -50%);
      }
    
      .star:before,
      .star:after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        width: 141.4213%; /* 100% * √2 */
        top: 0;
        bottom: 0;
        border-radius: 5%;
        transform: rotate(66.66deg) skewX(45deg);
      }
    
      /* the same but +90deg to rotate */
      .star:after {
        transform: rotate(156.66deg) skew(45deg);
      }
    
      .star.green:after,
      .star.green:before {
        background-color: green;
      }
      .star.red:after,
      .star.red:before {
        background-color: red;
      }
      .star.purple:after,
      .star.purple:before {
        background-color: purple;
      }
      .star.yellow:after,
      .star.yellow:before {
        background-color: yellow;
      }

      
    }

    .about-game {
      width: 80%;
    }

    .arrows {
      width: 100%;
    }
  }
}

@media screen and (max-width: 760px) {
  .speedmatch {

    .gameInfo {
      align-items: center;
      height: 3vh;
      .score {
        width: 23%;
      }

      h1{
        font-size: 1.5rem;
      }
      .timer {
        width: 23%;
      }
    }

    .shapes {
      width: 80%;
      .discard-pile {
        width: 40%;
        max-height: 300px;
      }

      .cardd {
        width: 40%;
        max-height: 300px;
      }

      .square {
        width: 130px;
        height: 130px;
      }

      .circle {
        height: 130px;
        width: 130px;
      }

      .triangle {
        border-left: 13vw solid transparent;
        border-right: 13vw solid transparent;
        border-bottom: 13vw solid black;
      }

      .triangle.green {
        border-bottom-color: green; 
      }
    
      .triangle.red {
        border-bottom-color: red;
      }
    
      .triangle.yellow {
        border-bottom-color: yellow;
      }
    
      .triangle.purple {
        border-bottom-color: purple;
      }

      .star {
        width: 45px;
        height: 45px;
        min-width: 50px;
        min-height: 50px;
        position: relative;
        background-color: transparent;
        // margin-top: 100px;
        // margin-left: 100px;
        transform: translate(-20%, -50%);
      }
    
      .star:before,
      .star:after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        width: 141.4213%; /* 100% * √2 */
        top: 0;
        bottom: 0;
        border-radius: 5%;
        transform: rotate(66.66deg) skewX(45deg);
      }
    
      /* the same but +90deg to rotate */
      .star:after {
        transform: rotate(156.66deg) skew(45deg);
      }
    
      .star.green:after,
      .star.green:before {
        background-color: green;
      }
      .star.red:after,
      .star.red:before {
        background-color: red;
      }
      .star.purple:after,
      .star.purple:before {
        background-color: purple;
      }
      .star.yellow:after,
      .star.yellow:before {
        background-color: yellow;
      }

      
    }

    .about-game {
      width: 80%;
    }

    .arrows {
      width: 100%;
    }
  }
}

@media screen and (max-width: 430px) {
  .speedmatch {

    .shapes {
      width: 100%;
      justify-content: center;
      .discard-pile {
        display: none;
      }

      .cardd {
        width: 80%;
      }

      .square {
        width: 130px;
        height: 130px;
      }

      .circle {
        height: 130px;
        width: 130px;
      }

      .triangle {
        border-left: 35vw solid transparent;
        border-right: 35vw solid transparent;
        border-bottom: 35vw solid black;
      }

      .triangle.green {
        border-bottom-color: green; 
      }
    
      .triangle.red {
        border-bottom-color: red;
      }
    
      .triangle.yellow {
        border-bottom-color: yellow;
      }
    
      .triangle.purple {
        border-bottom-color: purple;
      }

      .star {
        width: 50px;
        height: 50px;
        position: relative;
        background-color: transparent;
        // margin-top: 100px;
        // margin-left: 100px;
        transform: translate(-30%, -50%);
      }
    
      .star:before,
      .star:after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        width: 141.4213%; /* 100% * √2 */
        top: 0;
        bottom: 0;
        border-radius: 5%;
        transform: rotate(66.66deg) skewX(45deg);
      }
    
      /* the same but +90deg to rotate */
      .star:after {
        transform: rotate(156.66deg) skew(45deg);
      }
    
      .star.green:after,
      .star.green:before {
        background-color: green;
      }
      .star.red:after,
      .star.red:before {
        background-color: red;
      }
      .star.purple:after,
      .star.purple:before {
        background-color: purple;
      }
      .star.yellow:after,
      .star.yellow:before {
        background-color: yellow;
      }

    }
  }
}

@keyframes click {
  from {
    transform: scale(3);
  }
  to {
    transform: scale(2.5);
  }
}

@keyframes clickLeft {
  from {
    transform: scale(3) rotate(180deg);
  }
  to {
    transform: scale(2.5) rotate(180deg);
  }
}

@keyframes turncard {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-127%);
  }
}

@keyframes answer {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(2);
  }
}
