@import "./Colors";

.your-stats {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  background: $primaryBackground;
  .stat {
    display: flex;
    align-items: center;
    width: 40%;
    height: 100px;
    background: $primaryBackground;
  }
  .overview {
    width: 50%;
    height: 100vh;
    background: $primaryContainerBackground;
  }
}
