@import "./Colors";

.games {
  height: 100%;
  width: 100%;
  background: $primaryBackground;
  display: flex;
  justify-content: space-around;

  .category-list {
    background: $primaryContainerBackground;
    width: 20%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;

    label {
      height: 11vh;
    }
  }

  .searchBar {
    border-radius: 0;
    height: 26px;
    width: 60%;
  }

  .listTitle {
    font-size: xx-large;
  }

  .categories-item {
    font-size: xx-large;
    list-style: none;
    &:hover {
      color: $accentColorThree;
    }
  }

  .games-list {
    width: 80%;
    height: 100%;
    background: $primaryBackground;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5%;

    .game-icon {
      background-color: $primaryContainerBackground;
      color: $primaryTextColor;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20vw;
      height: 50%;
      max-height: 350px;
      max-width: 300px;
      min-width: 150px;
      border: 3px solid black;
      // box-shadow: inset 0 0 5px 5px black;

      &:hover {
        background: $primaryBtnColor;
      }

      .gameIconName {
        font-size: xx-large;
        align-content: center;
        height: 20%;
        display: flex;
        align-items: center;
        font-size: x-large;
      }
      .gameIconImage {
        height: 60%;
        width: 80%;
        margin: 5%;
        border: 3px solid black;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .games {
    .category-list {
      .categories-item {
        font-size: 1.5rem;
      }
    }
    .games-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .game-icon {
        width: 100%;

        .gameIconName {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .games {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .category-list {
      width: 100vw;
      height: 5vh;
      flex-direction: row;
      align-items: center;
      h3 {
        display: none;
      }
      label {
        height: 5vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        span {
          height: 100%;
          width: 32vw;
          transform: translateY(15%);
        }
      }

      .categories-item {
        display: none;
      }
    }

    .games-list {
      width: 100vw;
      height: 80vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .game-icon {
        height: 35vh;
        width: 45vw;
        max-height: 400px;

        .gameIconName {
          font-size: 1rem;
        }
      }

      .game-icon:nth-of-type(odd) {
        grid-column-start: 1;
      }

      .game-icon:nth-of-type(even) {
        grid-column-start: 3;
      }
    }
  }
}

@media screen and (max-width: 430px) {
}
