.aboutUs {
  background: blue;
}

.login {
  margin-top: 100px;
}

.edit-user {
  background: orange;
}

.game-icon {
  background: green;
}

.header {
  height: 100px;
  width: 100vw;
  position: absolute;
  top: 0;
  background-color: aqua;
}

.header .mainBar {
  background-color: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .mainBar h1 {
  position: absolute;
  left: 30px;
}

.header .mainBar .headerOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 70vw;
  margin-left: 200px;
}

.header .mainBar .headerOptions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .mainBar .headerOptions ul li {
  list-style-type: none;
  margin-left: 50px;
}

.header .dropDown {
  width: 300px;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: -320px;
  background-color: white;
  border: 2px solid black;
}

.active {
  -webkit-transform: translate(-320px, 0);
          transform: translate(-320px, 0);
  margin-top: 15px;
}

.home {
  background-color: tan;
}

.recommended {
  background-color: orangered;
}

.stats {
  background: burlywood;
}

.stat {
  background: navajowhite;
}

.your-stats {
  background: yellowgreen;
}

.overview {
  background: goldenrod;
}

.games {
  height: 98vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.games .category-list {
  height: 100%;
  width: 25%;
  background: oldlace;
  border: 2px solid black;
}

.games .games-list {
  width: 75%;
  height: 100%;
  background: plum;
}
/*# sourceMappingURL=App.css.map */