@import "./About";
@import "./Auth";
@import "./EditUser";
@import "./Header";
@import "./Home";
@import "./Stats";
@import "./Tests";
@import "./SpeedMatch";
@import "../Components/Games/MathDrop/MathDrop";
@import "../Components/Games/Memory/MemoryGame";
@import "./Colors";
@import "./Stat";

#root,
.App {
  width: 100%;
  height: 100%;
  background: $primaryBackground;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: $roboto-condensed;
  background: $primaryBackground;
  color: $primaryTextColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.game {
  width: 100%;
  height: 90vh;
}

.countdown {
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone {
  display: none !important;
}

@media screen and (max-width: 760px) {
  .phone {
    display: flex !important;
  }

  .header .computer {
    display: none !important;
  }
}
