@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
}

.aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #292945;
  justify-self: flex-end;
  width: 50vw;
  height: 70vh;
}

.aboutUs button {
  border: 2px solid #fff;
  color: #fff;
  background-color: #45376c;
  text-align: center;
  width: 150px;
  height: 50px;
  border-radius: 0;
}

.aboutUs button:hover {
  background-color: #754d80;
}

.login {
  background: #24213b;
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .MuiSnackbar-root {
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
}

.login .auth {
  display: -ms-grid;
  display: grid;
  background: #292945;
  color: #fff;
  max-width: 471px;
  max-height: 550px;
  height: 100%;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 20% 20% 15% 15% 15%;
      grid-template-rows: 20% 20% 15% 15% 15%;
}

.login .auth .error-text {
  text-align: center;
}

.login .auth label span {
  height: 50%;
  line-height: 50%;
}

.login .auth label input {
  height: 40%;
  width: 70%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  border-radius: 0;
}

.login .auth button {
  border: 2px solid #fff;
  color: #fff;
  background-color: #45376c;
  text-align: center;
  width: 150px;
  height: 50px;
  border-radius: 0;
}

.login .auth button:hover {
  background-color: #754d80;
}

.login .auth button:hover {
  cursor: pointer !important;
}

.login .auth .switch {
  color: #69dee6;
  text-align: center;
}

.login .auth .switch:hover {
  cursor: pointer;
}

.login .register {
  -ms-grid-rows: 12% 12% 12% 12% 12% 12% 10% 8%;
      grid-template-rows: 12% 12% 12% 12% 12% 12% 10% 8%;
}

.login .register .error-text {
  width: 80%;
  text-align: center;
}

.login .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  width: 100%;
  height: 100%;
}

.login .row label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login .row label span {
  width: 20%;
  text-align: center;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.login .row label input {
  width: 40%;
  height: 70%;
  max-height: 30px;
}

.login .row .invalid {
  color: red;
  text-align: center;
}

@media screen and (max-width: 760px) {
  .login {
    width: 80%;
    font-size: 1.5rem;
  }
  .login .row label {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .login .row label span {
    width: 35%;
  }
  .login .row label input {
    width: 50%;
  }
}

@media screen and (max-width: 430px) {
  .login {
    width: 100%;
    font-size: 1rem;
  }
  .login .row label {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .login .row label span {
    width: 28%;
  }
  .login .row label input {
    width: 55%;
  }
}

.edit-user {
  background: #292945;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  width: 100%;
  height: 100%;
  max-width: 671px;
  max-height: 434px;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -ms-grid-rows: 10% 10% 10% 10% 10%;
      grid-template-rows: 10% 10% 10% 10% 10%;
  grid-row-gap: 2%;
}

.edit-user input {
  width: 30%;
  height: 50%;
  border-radius: 0;
}

.edit-user button {
  border: 2px solid #fff;
  color: #fff;
  background-color: #45376c;
  text-align: center;
  width: 150px;
  height: 50px;
  border-radius: 0;
}

.edit-user button:hover {
  background-color: #754d80;
}

input {
  border-radius: 20%;
}

button {
  border-radius: 20%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 10vh;
  background: #24213b;
}

.header .brainifyLogo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 30%);
          transform: translate(-50%, 30%);
}

.header .nav {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(36, 33, 59, 0.5);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  font-size: 1.7rem;
}

.header .nav .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40vw;
}

.header .nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10vw;
}

.header .nav .right .acctMenu {
  height: 5vh;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.header .nav .altLinks {
  color: #fff;
  text-decoration: none;
}

.header .nav .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 12vh;
  top: 10vh;
  right: 2vw;
}

.header .nav .dropdown .navBtn {
  font-size: 1.5rem;
}

.header .nav .navBtn {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .header .nav .left {
    font-size: 1.5rem;
  }
  .header .nav .right {
    width: 20vw;
  }
}

@media screen and (max-width: 760px) {
  .header {
    height: 10vh;
  }
  .header .nav {
    position: absolute;
    top: 5.4vh;
    right: 0;
    height: 30vh;
    width: 20vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 1rem;
  }
  .header .nav .left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 12vh;
    font-size: 1rem;
  }
  .header .nav .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 3vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .nav .altLinks {
    height: 5vh;
    font-size: 1rem;
  }
  .header .nav .dropdown {
    position: relative;
    height: 8vh;
    top: 0;
    right: 0;
  }
  .header .nav .dropdown .navBtn {
    font-size: 1rem;
  }
  .header .nav .dropdown button {
    display: inline-block;
    max-width: 100px;
  }
  .header .menu {
    position: absolute;
    top: 1vh;
    right: 1vw;
  }
}

@media screen and (max-width: 430px) {
  .header .nav {
    width: 30vw;
  }
}

.home {
  background-color: tan;
  width: 100vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home h1 {
  font-size: 1.5rem;
  text-align: center;
}

.home h2 {
  font-size: 1.3rem;
  text-align: center;
}

.home .home-content {
  width: 100vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .recommended {
  background-color: #754d80;
  width: 70vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .recommended .game-icon {
  background: #292945;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15vw;
  height: 50%;
  max-height: 350px;
  max-width: 300px;
  min-width: 150px;
  -webkit-box-shadow: inset 0 0 5px 5px black;
          box-shadow: inset 0 0 5px 5px black;
}

.home .recommended .game-icon .gameIconName {
  font-size: xx-large;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .recommended .game-icon .gameIconName:hover {
  color: #69dee6;
}

.home .recommended .game-icon .gameIconImage {
  height: 70%;
  width: 60%;
  border-radius: 5%;
}

.home .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #292945;
  width: 30vw;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.home .stats .stat {
  height: 25%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .stats .stat .chartjs-render-monitor {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .home .recommended .game-icon .gameIconName {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 760px) {
  .home .home-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .home-content .recommended {
    width: 100vw;
    height: 40vh;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .home-content .recommended .game-icon {
    width: 75vw;
    height: 40vh;
    max-width: 261px;
    max-height: 240px;
  }
  .home .home-content .recommended .left {
    -webkit-transform: rotate(180deg) scale(2);
            transform: rotate(180deg) scale(2);
  }
  .home .home-content .recommended .right {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  .home .home-content .stats {
    height: 40vh;
    width: 100vw;
  }
}

.your-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #24213b;
}

.your-stats .stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 100px;
  background: #24213b;
}

.your-stats .overview {
  width: 50%;
  height: 100vh;
  background: #292945;
}

.games {
  height: 100%;
  width: 100%;
  background: #24213b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.games .category-list {
  background: #292945;
  width: 20%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.games .category-list label {
  height: 11vh;
}

.games .searchBar {
  border-radius: 0;
  height: 26px;
  width: 60%;
}

.games .categories-item {
  font-size: xx-large;
  list-style: none;
}

.games .categories-item:hover {
  color: #69dee6;
}

.games .games-list {
  width: 80%;
  height: 100%;
  background: #24213b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.games .games-list .game-icon {
  background: #292945;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 50%;
  max-width: 250px;
  max-height: 300px;
}

.games .games-list .game-icon .gameIconName {
  font-size: xx-large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8%;
}

.games .games-list .game-icon .gameIconName:hover {
  color: #69dee6;
}

.games .games-list .game-icon .gameIconImage {
  height: 70%;
  width: 70%;
  border-radius: 5%;
}

@media screen and (max-width: 1200px) {
  .games .category-list .categories-item {
    font-size: 1.5rem;
  }
  .games .games-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .games .games-list .game-icon {
    width: 22%;
  }
  .games .games-list .game-icon .gameIconName {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 760px) {
  .games {
    width: 100vw;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .games .category-list {
    width: 100vw;
    height: 5vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .games .category-list h3 {
    display: none;
  }
  .games .category-list label {
    height: 5vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .games .category-list label span {
    height: 100%;
    width: 32vw;
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  .games .category-list .categories-item {
    display: none;
  }
  .games .games-list {
    width: 100vw;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .games .games-list .game-icon {
    height: 30vh;
    width: 45vw;
    max-height: 200px;
  }
  .games .games-list .game-icon .gameIconName {
    font-size: 1rem;
  }
  .games .games-list .game-icon:nth-of-type(odd) {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .games .games-list .game-icon:nth-of-type(even) {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
}

.speedmatch {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* the same but +90deg to rotate */
}

.speedmatch .play {
  border: 2px solid #fff;
  color: #fff;
  background-color: #45376c;
  text-align: center;
  width: 150px;
  height: 50px;
  border-radius: 0;
}

.speedmatch .play:hover {
  background-color: #754d80;
}

.speedmatch .gameInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-start;
  width: 100vw;
  height: 10vh;
}

.speedmatch .gameInfo .score {
  width: 10%;
  text-align: center;
}

.speedmatch .gameInfo .timer {
  text-align: center;
  width: 10%;
}

.speedmatch .correct {
  color: green;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-animation: answer 0.5s 1;
          animation: answer 0.5s 1;
}

.speedmatch .wrong {
  color: red;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-animation: answer 0.5s 1;
          animation: answer 0.5s 1;
}

.speedmatch .about-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 22%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  text-align: center;
}

.speedmatch .square {
  width: 50%;
  height: 37.5%;
  max-width: 250px;
  max-height: 250px;
}

.speedmatch .triangle {
  width: 0;
  height: 0;
  border-left: 6vw solid transparent;
  border-right: 6vw solid transparent;
  border-bottom: 6vw solid black;
  background-color: transparent;
}

.speedmatch .triangle.green {
  border-bottom-color: green;
}

.speedmatch .triangle.red {
  border-bottom-color: red;
}

.speedmatch .triangle.yellow {
  border-bottom-color: yellow;
}

.speedmatch .triangle.purple {
  border-bottom-color: purple;
}

.speedmatch .circle {
  width: 50%;
  height: 37.5%;
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
}

.speedmatch .circle.green,
.speedmatch .square.green {
  background: green;
  background-color: green;
}

.speedmatch .circle.yellow,
.speedmatch .square.yellow {
  background: yellow;
  background-color: yellow;
}

.speedmatch .circle.red,
.speedmatch .square.red {
  background: red;
  background-color: red;
}

.speedmatch .circle.purple,
.speedmatch .square.purple {
  background: purple;
  background-color: purple;
}

.speedmatch .star {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: transparent;
  -webkit-transform: translate(-20%, -20%);
          transform: translate(-20%, -20%);
}

.speedmatch .star:before,
.speedmatch .star:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 141.4213%;
  /* 100% * √2 */
  top: 0;
  bottom: 0;
  border-radius: 5%;
  -webkit-transform: rotate(66.66deg) skewX(45deg);
          transform: rotate(66.66deg) skewX(45deg);
}

.speedmatch .star:after {
  -webkit-transform: rotate(156.66deg) skew(45deg);
          transform: rotate(156.66deg) skew(45deg);
}

.speedmatch .star.green:after,
.speedmatch .star.green:before {
  background-color: green;
}

.speedmatch .star.red:after,
.speedmatch .star.red:before {
  background-color: red;
}

.speedmatch .star.purple:after,
.speedmatch .star.purple:before {
  background-color: purple;
}

.speedmatch .star.yellow:after,
.speedmatch .star.yellow:before {
  background-color: yellow;
}

.speedmatch .shapes {
  height: 80%;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.speedmatch .shapes .discard-pile {
  width: 298px;
  height: 400px;
  background-image: url(https://images.cdn2.stockunlimited.net/preview1300/playing-cards-background_1608080.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
  -webkit-box-shadow: inset 0 0 0.2em 0.3em black;
          box-shadow: inset 0 0 0.2em 0.3em black;
}

.speedmatch .shapes .cardd {
  width: 298px;
  height: 400px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 0 0 0.2em 0.3em black;
          box-shadow: inset 0 0 0.2em 0.3em black;
}

.speedmatch .final-score {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.speedmatch .animate-card {
  -webkit-animation: turncard 0.1s 1;
          animation: turncard 0.1s 1;
}

.speedmatch .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: 20%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.speedmatch .arrows label {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.speedmatch .left-arrow {
  -webkit-transform: rotate(180deg) scale(3);
          transform: rotate(180deg) scale(3);
}

.speedmatch .right-arrow {
  -webkit-transform: scale(3);
          transform: scale(3);
}

.speedmatch .left-arrow.click {
  -webkit-animation: clickLeft 0.1s 1;
          animation: clickLeft 0.1s 1;
}

.speedmatch .right-arrow.click {
  -webkit-animation: click 0.1s 1;
          animation: click 0.1s 1;
}

@media screen and (max-width: 1200px) {
  .speedmatch .gameInfo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 3vh;
  }
  .speedmatch .gameInfo .score {
    width: 23%;
  }
  .speedmatch .gameInfo h1 {
    font-size: 1.5rem;
  }
  .speedmatch .gameInfo .timer {
    width: 23%;
  }
  .speedmatch .shapes {
    width: 80%;
    /* the same but +90deg to rotate */
  }
  .speedmatch .shapes .discard-pile {
    width: 40%;
    max-height: 300px;
  }
  .speedmatch .shapes .cardd {
    width: 40%;
    max-height: 300px;
  }
  .speedmatch .shapes .square {
    width: 130px;
    height: 130px;
  }
  .speedmatch .shapes .circle {
    height: 130px;
    width: 130px;
  }
  .speedmatch .shapes .triangle {
    border-left: 13vw solid transparent;
    border-right: 13vw solid transparent;
    border-bottom: 13vw solid black;
  }
  .speedmatch .shapes .triangle.green {
    border-bottom-color: green;
  }
  .speedmatch .shapes .triangle.red {
    border-bottom-color: red;
  }
  .speedmatch .shapes .triangle.yellow {
    border-bottom-color: yellow;
  }
  .speedmatch .shapes .triangle.purple {
    border-bottom-color: purple;
  }
  .speedmatch .shapes .star {
    width: 75px;
    height: 75px;
    min-width: 50px;
    min-height: 50px;
    position: relative;
    background-color: transparent;
    -webkit-transform: translate(-20%, -20%);
            transform: translate(-20%, -20%);
  }
  .speedmatch .shapes .star:before,
  .speedmatch .shapes .star:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 141.4213%;
    /* 100% * √2 */
    top: 0;
    bottom: 0;
    border-radius: 5%;
    -webkit-transform: rotate(66.66deg) skewX(45deg);
            transform: rotate(66.66deg) skewX(45deg);
  }
  .speedmatch .shapes .star:after {
    -webkit-transform: rotate(156.66deg) skew(45deg);
            transform: rotate(156.66deg) skew(45deg);
  }
  .speedmatch .shapes .star.green:after,
  .speedmatch .shapes .star.green:before {
    background-color: green;
  }
  .speedmatch .shapes .star.red:after,
  .speedmatch .shapes .star.red:before {
    background-color: red;
  }
  .speedmatch .shapes .star.purple:after,
  .speedmatch .shapes .star.purple:before {
    background-color: purple;
  }
  .speedmatch .shapes .star.yellow:after,
  .speedmatch .shapes .star.yellow:before {
    background-color: yellow;
  }
  .speedmatch .about-game {
    width: 80%;
  }
  .speedmatch .arrows {
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .speedmatch .gameInfo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 3vh;
  }
  .speedmatch .gameInfo .score {
    width: 23%;
  }
  .speedmatch .gameInfo h1 {
    font-size: 1.5rem;
  }
  .speedmatch .gameInfo .timer {
    width: 23%;
  }
  .speedmatch .shapes {
    width: 80%;
    /* the same but +90deg to rotate */
  }
  .speedmatch .shapes .discard-pile {
    width: 40%;
    max-height: 300px;
  }
  .speedmatch .shapes .cardd {
    width: 40%;
    max-height: 300px;
  }
  .speedmatch .shapes .square {
    width: 130px;
    height: 130px;
  }
  .speedmatch .shapes .circle {
    height: 130px;
    width: 130px;
  }
  .speedmatch .shapes .triangle {
    border-left: 13vw solid transparent;
    border-right: 13vw solid transparent;
    border-bottom: 13vw solid black;
  }
  .speedmatch .shapes .triangle.green {
    border-bottom-color: green;
  }
  .speedmatch .shapes .triangle.red {
    border-bottom-color: red;
  }
  .speedmatch .shapes .triangle.yellow {
    border-bottom-color: yellow;
  }
  .speedmatch .shapes .triangle.purple {
    border-bottom-color: purple;
  }
  .speedmatch .shapes .star {
    width: 45px;
    height: 45px;
    min-width: 50px;
    min-height: 50px;
    position: relative;
    background-color: transparent;
    -webkit-transform: translate(-20%, -50%);
            transform: translate(-20%, -50%);
  }
  .speedmatch .shapes .star:before,
  .speedmatch .shapes .star:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 141.4213%;
    /* 100% * √2 */
    top: 0;
    bottom: 0;
    border-radius: 5%;
    -webkit-transform: rotate(66.66deg) skewX(45deg);
            transform: rotate(66.66deg) skewX(45deg);
  }
  .speedmatch .shapes .star:after {
    -webkit-transform: rotate(156.66deg) skew(45deg);
            transform: rotate(156.66deg) skew(45deg);
  }
  .speedmatch .shapes .star.green:after,
  .speedmatch .shapes .star.green:before {
    background-color: green;
  }
  .speedmatch .shapes .star.red:after,
  .speedmatch .shapes .star.red:before {
    background-color: red;
  }
  .speedmatch .shapes .star.purple:after,
  .speedmatch .shapes .star.purple:before {
    background-color: purple;
  }
  .speedmatch .shapes .star.yellow:after,
  .speedmatch .shapes .star.yellow:before {
    background-color: yellow;
  }
  .speedmatch .about-game {
    width: 80%;
  }
  .speedmatch .arrows {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .speedmatch .shapes {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* the same but +90deg to rotate */
  }
  .speedmatch .shapes .discard-pile {
    display: none;
  }
  .speedmatch .shapes .cardd {
    width: 80%;
  }
  .speedmatch .shapes .square {
    width: 130px;
    height: 130px;
  }
  .speedmatch .shapes .circle {
    height: 130px;
    width: 130px;
  }
  .speedmatch .shapes .triangle {
    border-left: 35vw solid transparent;
    border-right: 35vw solid transparent;
    border-bottom: 35vw solid black;
  }
  .speedmatch .shapes .triangle.green {
    border-bottom-color: green;
  }
  .speedmatch .shapes .triangle.red {
    border-bottom-color: red;
  }
  .speedmatch .shapes .triangle.yellow {
    border-bottom-color: yellow;
  }
  .speedmatch .shapes .triangle.purple {
    border-bottom-color: purple;
  }
  .speedmatch .shapes .star {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: transparent;
    -webkit-transform: translate(-30%, -50%);
            transform: translate(-30%, -50%);
  }
  .speedmatch .shapes .star:before,
  .speedmatch .shapes .star:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 141.4213%;
    /* 100% * √2 */
    top: 0;
    bottom: 0;
    border-radius: 5%;
    -webkit-transform: rotate(66.66deg) skewX(45deg);
            transform: rotate(66.66deg) skewX(45deg);
  }
  .speedmatch .shapes .star:after {
    -webkit-transform: rotate(156.66deg) skew(45deg);
            transform: rotate(156.66deg) skew(45deg);
  }
  .speedmatch .shapes .star.green:after,
  .speedmatch .shapes .star.green:before {
    background-color: green;
  }
  .speedmatch .shapes .star.red:after,
  .speedmatch .shapes .star.red:before {
    background-color: red;
  }
  .speedmatch .shapes .star.purple:after,
  .speedmatch .shapes .star.purple:before {
    background-color: purple;
  }
  .speedmatch .shapes .star.yellow:after,
  .speedmatch .shapes .star.yellow:before {
    background-color: yellow;
  }
}

@-webkit-keyframes click {
  from {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  to {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}

@keyframes click {
  from {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  to {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}

@-webkit-keyframes clickLeft {
  from {
    -webkit-transform: scale(3) rotate(180deg);
            transform: scale(3) rotate(180deg);
  }
  to {
    -webkit-transform: scale(2.5) rotate(180deg);
            transform: scale(2.5) rotate(180deg);
  }
}

@keyframes clickLeft {
  from {
    -webkit-transform: scale(3) rotate(180deg);
            transform: scale(3) rotate(180deg);
  }
  to {
    -webkit-transform: scale(2.5) rotate(180deg);
            transform: scale(2.5) rotate(180deg);
  }
}

@-webkit-keyframes turncard {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-127%);
            transform: translateX(-127%);
  }
}

@keyframes turncard {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-127%);
            transform: translateX(-127%);
  }
}

@-webkit-keyframes answer {
  from {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes answer {
  from {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

.gameDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 100vw;
  max-height: 100vh;
}

.gameDisplay .hub {
  width: 15vw;
  font-size: x-large;
  text-align: center;
}

.gameDisplay .centerGame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65vw;
  height: 80vh;
}

.gameDisplay .startNewGame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #292945;
  height: 70%;
  width: 100%;
  text-align: center;
}

.gameDisplay .startNewGame .gameInstructions {
  width: 63%;
}

.gameDisplay .startNewGame .playBtn {
  border: 2px solid #fff;
  color: #fff;
  background-color: #45376c;
  text-align: center;
  width: 150px;
  height: 50px;
  border-radius: 0;
}

.gameDisplay .startNewGame .playBtn:hover {
  background-color: #754d80;
}

.gameDisplay .mathdropGame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #292945;
  height: 75vh;
  width: 70vw;
  border-bottom: 5px solid #754d80;
}

.gameDisplay .mathdropGame .user-answer {
  width: 65px;
  height: 50px;
  border-radius: 5%;
  font-size: xx-large;
}

.gameDisplay .mathdropGame .equation {
  list-style: none;
  position: absolute;
  top: 18vh;
  left: 50%;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#754d80), to(#2c3970));
  background-image: linear-gradient(to bottom right, #754d80, #2c3970);
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid white;
  border-radius: 50%;
}

@-webkit-keyframes drop {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(0, 65vh);
            transform: translate(0, 65vh);
  }
}

@keyframes drop {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(0, 65vh);
            transform: translate(0, 65vh);
  }
}

.memoryGame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.actualGame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 800px;
  height: 800px;
  border: 1px solid yellow;
  border-radius: 15px;
  margin: 15px;
}

.gameSpace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  margin: 15px;
}

.selected {
  border: 5px solid #97ff20 !important;
  height: 140px !important;
  width: 140px !important;
}

.hidden {
  background-color: #222385 !important;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.pink {
  background-color: pink;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.black {
  background-color: black;
}

.stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 15%;
  width: 100%;
}

#root,
.App {
  width: 100vw;
  height: 100vh;
  background: #24213b;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background: #24213b;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.game {
  width: 100vw;
  height: 90vh;
}

.countdown {
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  font-size: xx-large;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone {
  display: none !important;
}

@media screen and (max-width: 760px) {
  .phone {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header .computer {
    display: none !important;
  }
  .computer {
    display: none !important;
  }
}
/*# sourceMappingURL=App.css.map */