
@import '../../../styles/functions';


.brainshift-game {
    width: 100vw;
    height: 70vh;
    .gameInfo {
        @include flexCenter(column, center);
        button {
            margin: 10px;
        }
    }

    .final-score {
        @include flexCenter(column, center);
        button {
            margin: 10px;
        }
    }

    .brainshift {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .brainshift-header {
            width: 100vw;
            height: 10vh;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .shiftcards {
            width: 100vw;
            max-width: 500px;
            height: 60vh;
            max-height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .even {
                width: 40%;
                height: 40%;
                box-shadow: 0 0 5px 5px black;
                display: flex;
                justify-content: center;
                align-items: center;
                background: blue;
                font-size: 300%;
            }

            .vowel { 
                width: 40%;
                height: 40%; 
                box-shadow: 0 0 5px 5px black;
                display: flex;
                justify-content: center;
                align-items: center;
                background: orange;
                font-size: 300%;
            }
        }

        .arrows {
            width: 50%;
            display: flex;
            justify-content: space-around;
            label {
            .left-arrow {
                transform: scale(1.5) rotate(180deg);
            }

            .right-arrow {
                transform: scale(1.5);
            }

            .right-arrow.click {
                animation: click .2s 1;
            }
            .left-arrow.click {
                animation: clickLeft .2s 1;
            }
        }
        }
    }
}

@keyframes click {
    from {
        transform: scale(1.5);
    } to {
        transform: scale(1.3);
    }
}

@keyframes clickLeft {
    from {
        transform: scale(1.5) rotate(180deg);
    } to {
        transform: scale(1.3) rotate(180deg);
    }
}